body
{
    background-color: #FAFAFA;
}

.list-group-item
{
    color: #3897EF;
    font-family: webkit-pictograph;
    font-size: 19px;
}

p
{
    color: #909090;
}

#link
{
    color: #3897EF;
    font-family: webkit-pictograph;
    text-decoration:none; 
}